In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv(r'EV_market_segmentation_India.csv')

In [3]:
df.shape

(600, 11)

In [4]:
df.head()

,City,State,Income Group,Age Group,Daily Commute (km),EV Awareness Score,Charging Stations Density (per 100 sq km),Preferred EV Type,Govt Incentive Awareness,EV Sales (2024),ICE to EV Switch (%)
0,Bengaluru,Karnataka,Low,26-35,21,5.1,5,Commercial EV,No,3877,13.5
1,Bengaluru,Karnataka,Low,18-25,22,5.2,14,4-wheeler,Yes,14633,14.4
2,Bengaluru,Karnataka,High,18-25,6,8.7,17,2-wheeler,No,11330,9.1
3,Bengaluru,Karnataka,Mid,26-35,7,8.8,3,2-wheeler,No,10460,18.0
4,Bengaluru,Karnataka,Mid,50+,40,5.3,13,2-wheeler,Yes,5235,6.0

In [8]:
df.tail()

,City,State,Income Group,Age Group,Daily Commute (km),EV Awareness Score,Charging Stations Density (per 100 sq km),Preferred EV Type,Govt Incentive Awareness,EV Sales (2024),ICE to EV Switch (%)
595,Surat,Gujarat,Mid,18-25,37,9.3,13,2-wheeler,No,14213,19.5
596,Surat,Gujarat,High,36-50,36,7.1,6,4-wheeler,No,13149,15.8
597,Surat,Gujarat,High,26-35,12,5.7,12,4-wheeler,Yes,5801,13.9
598,Surat,Gujarat,High,18-25,34,5.3,17,2-wheeler,No,3641,19.5
599,Surat,Gujarat,High,50+,16,5.3,15,Commercial EV,Yes,11574,13.9

In [5]:
df.dtypes

City                                          object
State                                         object
Income Group                                  object
Age Group                                     object
Daily Commute (km)                             int64
EV Awareness Score                           float64
Charging Stations Density (per 100 sq km)      int64
Preferred EV Type                             object
Govt Incentive Awareness                      object
EV Sales (2024)                                int64
ICE to EV Switch (%)                         float64
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 11 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   City                                       600 non-null    object
 1   State                                      600 non-null    object
 2   Income Group                               600 non-null    object
 3   Age Group                                  600 non-null    object
 4   Daily Commute (km)                         600 non-null    int64
 5   EV Awareness Score                         600 non-null    float64
 6   Charging Stations Density (per 100 sq km)  600 non-null    int64
 7   Preferred EV Type                          600 non-null    object
 8   Govt Incentive Awareness                   600 non-null    object
 9   EV Sales (2024)                            600 non-null    int64
 10  ICE to EV Switch (%)                       600 non-null    float64
dtypes: float64(2), int64(3), object(6)
memory usage: 51.7+ KB

In [7]:
df.columns

Index(['City', 'State', 'Income Group', 'Age Group', 'Daily Commute (km)',
       'EV Awareness Score', 'Charging Stations Density (per 100 sq km)',
       'Preferred EV Type', 'Govt Incentive Awareness', 'EV Sales (2024)',
       'ICE to EV Switch (%)'],
      dtype='object')

In [ ]:
df.isnull().sum()

City                                         0
State                                        0
Income Group                                 0
Age Group                                    0
Daily Commute (km)                           0
EV Awareness Score                           0
Charging Stations Density (per 100 sq km)    0
Preferred EV Type                            0
Govt Incentive Awareness                     0
EV Sales (2024)                              0
ICE to EV Switch (%)                         0
dtype: int64